body {
  margin: 0;
  background: #000;
}

.scene {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.stack {
  position: relative;

  width: 813px;
  height: 877px;

  transform: scale(
    clamp(0.6, min(40vw / 813, 40vh / 877), 1)
  );

  transform-origin: center;
}


.envelope,
.card {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;
}


.card {
  position: absolute;
  left: 50%;
  top: 40px;              /* 원본 기준 위치 */
  transform: translateX(-50%);
}

.envelope.back {
  z-index: 1;
}

.card {
  z-index: 2;
}

.envelope.front {
  z-index: 3;
}
