body {
  margin: 0;
  background: #000;
}

.scene{
  width: 100vw;
  height: 100vh;
  padding: max(4vw, 24px);
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}

.stack{
  position: relative;
  width: 813px;
  height: 877px;

  --pad: max(4vw, 24px);

  transform: scale(
    clamp(
      0.6,
      min(
        calc((100vw - (2 * var(--pad))) / 813),
        calc((100dvh - (2 * var(--pad))) / 877)
      ),
      1
    )
  );
  transform-origin: center;
}



.envelope,
.card {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;
}


.card {
  position: absolute;
  left: 50%;
  top: 335px;
  transform: translateX(-50%);
}

.envelope.back {
  z-index: 1;
}

.card {
  z-index: 2;
}

.envelope.front {
  z-index: 3;
}
