body {
  margin: 0;
  background: #000;
}

.scene {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack {
  position: relative;
  width: 60vw;
  max-width: 300px;
  aspect-ratio: 240 / 150; /* 봉투 기준 */
}

.envelope {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card {
  position: absolute;

  width: 80%;
  aspect-ratio: 152 / 102;

  left: 50%;
  bottom: 15%;              /* 봉투 안쪽 위치 */
  transform: translateX(-50%);

  object-fit: contain;
}

.envelope.back {
  z-index: 1;
}

.card {
  z-index: 2;
}

.envelope.front {
  z-index: 3;
}
