body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.envelope {
  position: relative;
  width: 240px;
  height: 150px;
  background: #f14f4f;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.card {
  position: absolute;

  width: 40vw;
  max-width: 220px;
  aspect-ratio: 152 / 102;

  background: #fffdf8;
  top: 20px;
  left: 20px;
  border-radius: 2px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);

  transform: translateY(50px) rotate(0deg);
  opacity: 0;

  transition:
    transform 0.9s cubic-bezier(.22,1.61,.36,1),
    opacity 0.5s ease;
}

.envelope.open .card {
  transform: translateY(-60px) rotate(-6deg);
  opacity: 1;
}